/* =========================================================
   ROOT VARIABLES
========================================================= */
:root {
  --primary: #8b1e1e;
  --secondary: #003a8f;

  --text-dark: #1f2937;
  --text-muted: #6b7280;

  --bg-light: #f8fafc;
  --border-light: #e5e7eb;

}

/* =========================================================
   RESET & BASE
========================================================= */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.6;
  color: var(--text-dark);

  background-image: url("../Assets/images/background.png");
  background-repeat: repeat;
  background-position: center top;
  background-size: 11%;
  padding-top: 0 !important;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: var(--text-muted);
}

h1, h2, h3, h4 {
  font-weight: 600;
  line-height: 1.35;
}
